{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}


<main>


    <!-- Start Banner Hero -->
    <div
      id="template-mo-zay-hero-carousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-bs-target="#template-mo-zay-hero-carousel"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li
          data-bs-target="#template-mo-zay-hero-carousel"
          data-bs-slide-to="1"
        ></li>
        <li
          data-bs-target="#template-mo-zay-hero-carousel"
          data-bs-slide-to="2"
        ></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img class="img-fluid" alt="Responsive image" src="{{ trending.image.url }}">
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left align-self-center">
                  <h1 class="h1 products-name text-success"><b>DripStore</b> eCommerce</h1>
                  <h3 class="h2 products-name">Street Looks poulor</h3>
                  <p class="details fw-bold text-muted">
                    Unveil a new dimension of style with our cutting-edge wearables, designed for the modern trendsetter who values both flair and functionality
                    <a
                      rel="sponsored"
                      class="text-success"
                      href="https://templatemo.com"
                      target="_blank"
                      >TemplateMo</a
                    >
                    website. Image credits go to
                    <a
                      rel="sponsored"
                      class="text-success"
                      href="https://stories.freepik.com/"
                      target="_blank"
                      >Freepik Stories</a
                    >,
                    <a
                      rel="sponsored"
                      class="text-success"
                      href="https://unsplash.com/"
                      target="_blank"
                      >Unsplash</a
                    >
                    and
                    <a
                      rel="sponsored"
                      class="text-success"
                      href="https://icons8.com/"
                      target="_blank"
                      >Icons 8</a
                    >.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img class="img-fluid" alt="Responsive image" src="{{ popular.image.url }}">
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left">
                  <h1 class="h1 products-name">Proident occaecat</h1>
                  <h3 class="h2 products-name">Aliquip ex ea commodo consequat</h3>
                  <p class="details">
                    Your destination for sleek, trendsetting wearables that blend innovation with style, empowering you to redefine your wardrobe effortlessly
                    <strong>not permitted</strong> to re-distribute the template
                    ZIP file in any kind of template collection websites.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img class="img-fluid" alt="Responsive image" src="{{ soon.image.url }}">
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left">
                  <h1 class="h1 products-name">Repr in voluptate</h1>
                  <h3 class="h2 products-name">Ullamco laboris nisi ut</h3>
                  <p class="details">
                    We bring you 100% free CSS templates for your websites. If
                    you wish to support TemplateMo, please make a small
                    contribution via PayPal or tell your friends about our
                    website. Thank you.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev text-decoration-none w-auto ps-3"
        href="#template-mo-zay-hero-carousel"
        role="button"
        data-bs-slide="prev"
      >
        <i class="fas fa-chevron-left"></i>
      </a>
      <a
        class="carousel-control-next text-decoration-none w-auto pe-3"
        href="#template-mo-zay-hero-carousel"
        role="button"
        data-bs-slide="next"
      >
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
    <!-- End Banner Hero -->

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="pb-3 h5">Available Products</div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-lg p-1 rounded">
            <div class="zoom-container">
              <img class="img-fluid zoom-img" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            
            <div class="card-body">
              <p class="card-text mb-1">
                <a class="products-name text-dark text-decoration-none" style href="{{ product.get_absolute_url }}">{{ product.title }}</a>
              </p>
              <p class="details text-muted">{{product.description}}</p>
              <h6 class="card-subtitle mb-2 text-muted">${{product.price}}</h6>
    
              <a href="{{ product.get_absolute_url }}" class="btn btn-success">Buy Now</a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>






  {% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> {% endcomment %}
  <!------ Include the above in your HEAD tag ---------->
  
  
{% endblock %}